section{
  margin:0 auto;
  width:60vw;
}
.inputGroup{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

}

.inputGroup input,
.inputGroup textarea{
  border: 1px solid darkgray;
  background: none;
  font-size: inherit;
  font-family: inherit;
  padding: 0.3em 1em;
  resize: none;
  border:none;
  border-bottom: 1px solid black;
  outline: none;
}

.inputGroup label{
  font-size: 0.8em;
  transform: translateY(30px);
}
form button{
  background: linear-gradient(hsl(120, 29%, 48%), hsl(120,67%, 31%));
  font-size: inherit;
  font-family: inherit;
  color: white;
  font-weight: 700;
  padding: 0.3em 1em;
  border: 1px solid hsl(120,67%, 31%);
}

label.message{
  transform: translateY(50px);
}